<div class="container"
     fxLayout="row"
     fxLayoutGap="10px"
     [@expand]="">

  <div fxFlex fxFlex.gt-sm="30%">
    <img class="image" src="{{BaseURL}}images/istore.jpg" alt="Istore">
  </div>

  <div fxFlex>
    <mat-card>
      <h3>О магазине</h3>
      <p>Мы рады приветствовать Вас в нашем интернет-магазине Istore.by!
        У нас Вы можете выбрать и заказать качественную технику по доступным ценам и в кратчайшие сроки ее получить!
      </p>
      <h3>Сервис</h3>
      <p>Мы ценим Ваше время, Ваш выбор и дорожим каждым своим клиентом.
        Поэтому будьте уверены, приобретая у нас товар, вы полностью можете довериться нам! Мы сделаем все возможное — в случае если у Вас возникнут вопросы, связанные с гарантией, ремонтом, мы обещаем не оставить Вас в беде!
      </p>
      <h3>Доставка и ТехПоддержка</h3>
      <p>В случае, если у вас возникнут вопросы, связанные с заказом, вы всегда можете связаться с нашим менеджером-консультантом, который разъяснит все ваши вопросы по заказу.
        Доставка осуществляется как по Минску, так и по другим регионам Беларуси в самые кратчайшие сроки прямо к дверям вашего дома.
        Если вы проживаете в любом другом регионе страны, это не является препятствием к осуществлению заказа.
        Наш товар может заказать житель любого региона Беларуси!
      </p>
    </mat-card>
  </div>

</div>
